
TOFU/commands/
TOFU/outputs/
TOFU/results/
TOFU/paper_models/
TOFU/retrained_models/
TOFU/__pycache__/
TOFU/locuslab/
TOFU/stop*
TOFU/.cache/
TOFU/wmdp_models/
TOFU/data/bio_remove_dataset.jsonl
TOFU/try/
TOFU/gen_commands_*
TOFU/json/
TOFU/aggregated*
TOFU/run.py

muse/
muse/baselines/ckpt
muse/__pycache__/
muse/baselines/baselines/__pycache__/
muse/metrics/__pycache__/
muse/temp/
muse/data/

plot/
plot/figures/
# *.sh